@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudLayout>
    <MudAppBar Elevation="0" Class="bg-light">
        <div class="d-flex d-sm-none">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Dark" Edge="Edge.Start" OnClick="@ToggleStartDrawer" StartIcon="@(Rtl ? Icons.Filled.East : Icons.Filled.West)" />
        </div>    
            <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
                <div class="d-flex">   
                    @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>*@
                    <MudLink Href="/">
                        <MudImage Src="image/nubex.png" Width="181" Height="39">
                        </MudImage>
                    </MudLink>
                <div class="collapse navbar-collapse jus" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page"  href="/products/Silver">SILVER</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/products/Gold">GOLD</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/products">PRODUCTS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/Articles">NEWS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">SELLER</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/Auction">AUCTION</a>
                    </li>
                    </ul>
                </div>
                </div>
            </nav>
            </div>
        <MudSpacer />
            <MudIconButton Icon="@Icons.Filled.Search" aria-label="delete"></MudIconButton>
            @*<div class="d-flex" style="width:15%">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
              <button type="button" class="btn btn-dark">search</button>
            </div>*@
        @*<MudFab Color="Color.Dark" StartIcon="@Icons.Material.Filled.ShoppingCart" OnClick="@ToggleEndDrawer"   Size="Size.Small" />*@
        <div id="menuLogin" class="d-flex" style="font-display:inherit;">
            <LoginDisplay />
        </div>
        @*<MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />*@
        </MudAppBar>
        <MudDrawer @bind-Open="@openStart" Anchor="Anchor.Start" Elevation="2" Variant="@DrawerVariant.Persistent">
                <NavMenu />
        </MudDrawer>
        <MudDrawer @bind-Open="@openEnd" Anchor="Anchor.End" Elevation="2" Width="350px" Variant="@DrawerVariant.Persistent">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">Current Carts</MudText>
            </MudDrawerHeader>
            <ShoppingCart />
        </MudDrawer>
    <MudMainContent>
        @if(topbar)
        {
            <TopBar/>
            @Body
        }
        @if(!topbar)
        {
            @Body
            
        }
        <FooterBar/>
    </MudMainContent>
</MudLayout>

@code
{
    public string Metal { get; set; }
    public string Id { get; set; }
    [CascadingParameter]
    public bool Rtl { get; set; }

    bool openStart = false;
    bool openEnd = false;
    bool topbar = true;

    void ToggleStartDrawer()
    {
        openStart = !openStart;
        if (openStart)
            topbar = false;
        else
            topbar = true;
    }

    void ToggleEndDrawer()
    {
        openEnd = !openEnd;
    }
}



@*@inherits LayoutComponentBase

<PageTitle>NubexGold.Client</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
*@