@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager Navigation

<MudPaper Width="250px" Elevation="0" Class="py-3" Style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
    <MudNavMenu Color="Color.Dark">
        <MudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
            <MudTabPanel Text="Tab One">
                <AuthorizeView>
            <Authorized>
                <MudNavLink Href="/" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">HOME</MudNavLink>
                <MudNavGroup Title="SILVER" Expanded="false">
                    <MudNavLink Href="/products/Silver" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">SILVER COIN</MudNavLink>
                    <MudNavLink Href="/products/Silver" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">SILVER BAR</MudNavLink>
                    <MudNavLink Href="/products/Silver" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">SILVER DIRHAM</MudNavLink>
                    <MudNavLink Href="/products/Silver" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">SILVER CARD</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="GOLD" Expanded="false">
                    <MudNavLink Href="/products/Gold" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">GOLD COIN</MudNavLink>
                    <MudNavLink Href="/products/Gold" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">GOLD JEWELRY</MudNavLink>
                    <MudNavLink Href="/products/Gold" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">GOLD BAR</MudNavLink>
                    <MudNavLink Href="/products/Gold" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">GOLD CARD</MudNavLink>
                    <MudNavLink Href="/products/Gold" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">GOLD DINAR</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="ALL PRODUCTS" Expanded="false">
                    <MudNavGroup Title="SILVER" Expanded="false">
                    <MudNavLink Href="/products/Silver" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">SILVER COIN</MudNavLink>
                    <MudNavLink Href="/products/Silver" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">SILVER BAR</MudNavLink>
                    <MudNavLink Href="/products/Silver" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">SILVER DIRHAM</MudNavLink>
                    <MudNavLink Href="/products/Silver" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">SILVER CARD</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="GOLD" Expanded="false">
                    <MudNavLink Href="/products/Gold" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">GOLD COIN</MudNavLink>
                    <MudNavLink Href="/products/Gold" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">GOLD JEWELRY</MudNavLink>
                    <MudNavLink Href="/products/Gold" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">GOLD BAR</MudNavLink>
                    <MudNavLink Href="/products/Gold" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">GOLD CARD</MudNavLink>
                    <MudNavLink Href="/products/Gold" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">GOLD DINAR</MudNavLink>
                </MudNavGroup>
                </MudNavGroup>
                <MudNavLink Href="/News" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">NEWS</MudNavLink>
                <MudNavLink Href="#" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">SELLER CENTER</MudNavLink>
                <MudNavLink Href="/Auction" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">AUCTION</MudNavLink>
                <MudNavLink Href="/products" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Storage">PRODUCTS</MudNavLink>
                @*<MudNavLink Href="/dashboard" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">DASHBOARD</MudNavLink>
                <MudNavLink Href="/Checkout" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.ShoppingCartCheckout">CHECKOUT</MudNavLink>
                <MudNavLink Href="/shoppingcart" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.ShoppingCart" Disabled="false">CART</MudNavLink>*@
                <MudNavLink Href="/Seller" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Storefront" Disabled="false">SELLER</MudNavLink>
                <MudNavLink Href="/about">About</MudNavLink>
                <MudNavLink Href="/dashboard" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">Dashboard</MudNavLink>
                <MudNavLink Href="/Checkout" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.ShoppingCartCheckout">Checkout</MudNavLink>
                <MudNavLink Href="/shoppingcart" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.ShoppingCart" Disabled="false">Cart</MudNavLink>
                <MudNavLink Href="/Seller" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Storefront" Disabled="false">Seller</MudNavLink>
                <MudNavGroup Title="Admin" Expanded="false">
                    <MudNavLink Href="Product">Add Product</MudNavLink>
                    <MudNavLink Href="#">Product List</MudNavLink>
                    <MudNavLink Href="#">Seller List</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="Settings" Expanded="false">
                    <MudNavLink Href="authentication/profile">Users</MudNavLink>
                    <MudNavLink Href="/security">Security</MudNavLink>
                </MudNavGroup>
            </Authorized>
            <NotAuthorized>
                    <MudNavLink Href="/" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">HOME</MudNavLink>
                    <MudNavLink Href="/products" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Storage">PRODUCTS</MudNavLink>
                    <MudNavLink Href="/about">ABOUT</MudNavLink>
                    <MudNavLink Href="/authentication/login">LOGIN</MudNavLink>
                    <MudNavLink Href="/swagger/index.html" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Outlined.LiveHelp" Target="_blank">SWAGGER</MudNavLink>
                </NotAuthorized>
        </AuthorizeView>
            </MudTabPanel>
            <MudTabPanel Text="Tab Two">
                <MudText>Content Two</MudText>
            </MudTabPanel>
        </MudTabs>
    </MudNavMenu>
</MudPaper>


@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EcommerceWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
     
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}*@
