@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager Navigation

<MudPaper Width="250px" Elevation="0" Class="py-3" Style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
    <MudNavMenu Color="Color.Dark">
            <AuthorizeView>
            <Authorized>
                @*<MudNavLink Href="/dashboard" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">Dashboard</MudNavLink>*@
                <MudNavLink Href="/" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Home">HOME</MudNavLink>
                <MudNavLink Href="#" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.BusinessCenter">SELLER CENTER</MudNavLink>
                <MudNavLink Href="/Auction" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Sell">AUCTION</MudNavLink>
                <MudNavGroup Title="NEWS" Icon="@Icons.Filled.Newspaper" Expanded="false">
                    <MudNavLink Href="/Articles" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Storage">ARTICLES</MudNavLink>
                    <MudNavLink Href="/Events" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">EVENTS</MudNavLink>
                    <MudNavLink Href="/FeaturedWriters" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">FEATURED WRITERS</MudNavLink>
                    <MudNavLink Href="/Lifestyle" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">LIFESTYLE</MudNavLink>
                    <MudNavLink Href="/Media" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">MEDIA</MudNavLink>
                    <MudNavLink Href="/MintageGuide" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">MINTAGE GUIDE</MudNavLink>
                    <MudNavLink Href="/News" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">NEWS</MudNavLink>
                    <MudNavLink Href="/WorthlessPaper" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">WORTHLESS PAPER</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="PRODUCTS" Icon="@Icons.Filled.Storage" Expanded="false">
                <MudNavLink Href="/products" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Storage">ALL PRODUCTS</MudNavLink>
                <MudNavGroup Title="SILVER" Icon="@Icons.Filled.DarkMode" Expanded="false">
                    <MudNavLink Href="/products/Silver" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">SILVER COIN</MudNavLink>
                    <MudNavLink Href="/products/Silver" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">SILVER BAR</MudNavLink>
                    <MudNavLink Href="/products/Silver" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">SILVER DIRHAM</MudNavLink>
                    <MudNavLink Href="/products/Silver" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">SILVER CARD</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="GOLD" Icon="@Icons.Filled.Liquor" Expanded="false">
                    <MudNavLink Href="/products/Gold" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">GOLD COIN</MudNavLink>
                    <MudNavLink Href="/products/Gold" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">GOLD JEWELRY</MudNavLink>
                    <MudNavLink Href="/products/Gold" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">GOLD BAR</MudNavLink>
                    <MudNavLink Href="/products/Gold" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">GOLD CARD</MudNavLink>
                    <MudNavLink Href="/products/Gold" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">GOLD DINAR</MudNavLink>
                </MudNavGroup>
                </MudNavGroup>
                @*<MudNavLink Href="/dashboard" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">DASHBOARD</MudNavLink>
                <MudNavLink Href="/Checkout" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.ShoppingCartCheckout">CHECKOUT</MudNavLink>
                <MudNavLink Href="/shoppingcart" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.ShoppingCart" Disabled="false">CART</MudNavLink>*@
                @*<MudNavLink Href="/Seller" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Storefront" Disabled="false">SELLER</MudNavLink>*@
                
               @* <MudNavLink Href="/Checkout" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.ShoppingCartCheckout">Checkout</MudNavLink>
                <MudNavLink Href="/shoppingcart" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.ShoppingCart" Disabled="false">Cart</MudNavLink>*@
                @*<MudNavLink Href="/Seller" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Storefront" Disabled="false">Seller</MudNavLink>*@
                <MudNavGroup Title="Admin" Expanded="false">
                    <MudNavLink Href="Product" Match="NavLinkMatch.Prefix">Add Product</MudNavLink>
                    <MudNavLink Href="productList" Match="NavLinkMatch.Prefix">Product List</MudNavLink>
                    <MudNavLink Href="SellerList" Match="NavLinkMatch.Prefix">Seller List</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="Settings" Expanded="false">
                    <MudNavLink Href="identity/account/profile">Users</MudNavLink>
                    <MudNavLink Href="/security">Security</MudNavLink>
                </MudNavGroup>
                <MudNavLink Href="/about" Icon="@Icons.Filled.Diamond">ABOUT</MudNavLink>
            </Authorized>
            <NotAuthorized>
                    <MudNavLink Href="/" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">HOME</MudNavLink>
                    <MudNavLink Href="/products" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Storage">PRODUCTS</MudNavLink>
                    <MudNavLink Href="/about">ABOUT</MudNavLink>
                    <MudNavLink Href="/authentication/login">LOGIN</MudNavLink>
                    <MudNavLink Href="/swagger/index.html" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Outlined.LiveHelp" Target="_blank">SWAGGER</MudNavLink>
                </NotAuthorized>
        </AuthorizeView>
    </MudNavMenu>
</MudPaper>


@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EcommerceWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
     
    </nav>
</div>

                <MudNavLink Href="/dashboard" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">DASHBOARD</MudNavLink>
                <MudNavLink Href="/Checkout" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.ShoppingCartCheckout">CHECKOUT</MudNavLink>
                <MudNavLink Href="/shoppingcart" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.ShoppingCart" Disabled="false">CART</MudNavLink>
                <MudNavLink Href="/Seller" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Storefront" Disabled="false">SELLER</MudNavLink>
                
                <MudNavLink Href="/Checkout" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.ShoppingCartCheckout">Checkout</MudNavLink>
                <MudNavLink Href="/shoppingcart" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.ShoppingCart" Disabled="false">Cart</MudNavLink>
                <MudNavLink Href="/Seller" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Storefront" Disabled="false">Seller</MudNavLink>*@

@code {
    //private bool collapseNavMenu = true;

    //private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    //private void ToggleNavMenu()
    //{
    //    collapseNavMenu = !collapseNavMenu;
    //}
}
