@page "/Product/{Id}"
@page "/Product"


<PageTitle>@Pagetitle</PageTitle>



<MudContainer class="container-fluid d-flex justify-content-center mb-3">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <h2 class="justify-content-center">@PageHeader</h2>
        </MudItem>
        <MudItem xs="12" sm="12" md="6" >
            <MudPaper Elevation="2" Outlined="true" Class="pa-16 ma-2" >
                <MudGrid>
           
                    <MudItem xs="12" md="6">
                        <MudTextField @bind-Value="ProductModel.Name"  Label="Name" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField> 
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField @bind-Value="ProductModel.SKU"  Label="SKU" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField> 
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField @bind-Value="ProductModel.Description"  Label="Description" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField> 
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField @bind-Value="ProductModel.Detail"  Label="Detail" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField> 
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudSelect T="Metal"  Label="Metal" @bind-Value="ProductModel.Metal" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                   
                            <MudSelectItem T="Metal" Value="Metal.Gold" />
                            <MudSelectItem T="Metal" Value="Metal.Jewel" />
                            <MudSelectItem T="Metal" Value="Metal.Silver" />
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudSelect T="Types"  Label="Type" @bind-Value="ProductModel.Type" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                            <MudSelectItem T="Types" Value="Types.Bar" />
                            <MudSelectItem T="Types" Value="Types.CastBar" />
                            <MudSelectItem T="Types" Value="Types.Coin" />
                            <MudSelectItem T="Types" Value="Types.Jewelry" />
                            <MudSelectItem T="Types" Value="Types.MintedBar" />
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudSelect   Label="Condition" @bind-Value="ProductModel.ConditionId"  Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                            @foreach (var item in Conditions)
                            {
                                <MudSelectItem Value="@item.ConditionId" >@item.ConditionName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField @bind-Value="ProductModel.Purify"  Label="Purify" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField> 
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField @bind-Value="ProductModel.MetalWeight"  Label="Metal Weight (Total Weight)" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField> 
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField @bind-Value="ProductModel.MetalBrand"  Label="Brand" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField> 
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField @bind-Value="ProductModel.Weight"  Label="Weight in Gram(g)" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField> 
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField @bind-Value="ProductModel.Manufacture"  Label="Manufacture" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField> 
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField @bind-Value="ProductModel.Certificate"  Label="Certificate" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField> 
                    </MudItem>
                    <MudItem xs="12" sm="4" >
                       <MudSwitch @bind-Checked="customstr" Color="Color.Error" Converter="@(new CustomStringToBoolConverter())"> "@(customstr)"</MudSwitch>
                    </MudItem>
                   @* <MudItem xs="12" sm="4" >
                        <MudTextField Label="Switch state" Variant="Variant.Outlined" Converter="@converter" @bind-Value="@tax" Immediate="true"/>
                    </MudItem>*@
                    <MudItem xs="12" sm="6">
                        <MudTextField @bind-Value="ProductModel.Price"  Label="Base Price" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField> 
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField @bind-Value="ProductModel.Featured"  Label="Featured" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField> 
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField @bind-Value="ProductModel.Color"  Label="Color" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField> 
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField @bind-Value="ProductModel.Size"  Label="Size" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField> 
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField @bind-Value="ProductModel.ProductTag"  Label="Tagging" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField> 
                    </MudItem>
                      <MudItem xs="12" sm="12">
                        <MudGrid>
                            <MudItem xs="12" sm="6">
                                <InputFile id="fileInput" OnChange="UploadFilesAsync"  hidden multiple />
                                    <MudIconButton HtmlTag="label"
                                       Color="Color.Info"
                                       Icon="@Icons.Filled.CloudUpload"
                                       Variant="Variant.Outlined"
                                       Size="Size.Medium" 
                                       Style="height:50px; width:50px; border:dotted"
                                       for="fileInput"
                                       disabled="@(MyCondition ? true : false)">
                                    </MudIconButton>
                    
           
           
                                @if (files != null)
                                {
                                    <MudItem xs="12" sm="3" md="2">
                                        <MudText Typo="@Typo.h6">@files.Count() File@(files.Count() == 1 && files.Count() < 4 ? "" : "s"):</MudText>
                                    </MudItem>
                            
                                
                                        @foreach (var file in filebase64)
                                        {

                                         <MudItem xs="6" sm="2">
                                             <MudChip Icon="@Icons.Filled.AttachFile" Variant="Variant.Text" @key="@file">@file.fileName</MudChip>
                                             <MudImage Src="@("data:"+@file.contentType+";base64,"+@file.base64data)" Style="border:groove; backdrop-filter:grayscale(); width:100px; height:100px"></MudImage>
                                         </MudItem>
                                 
                                         @*<MudListItem Icon="@Icons.Filled.AttachFile" @key="@file">
                                             @file.fileName
                                         </MudListItem>
                                         <MudListItem>
                                             <MudImage Src="@("data:"+@file.contentType+";base64,"+@file.base64data)" Style="border:groove; backdrop-filter:grayscale(); width:200px; height:200px"></MudImage>
                                         </MudListItem>*@
                                        }
                            
                            
                                }
                                </MudItem>
                        </MudGrid>
                    </MudItem>
   
                     @if(ProductModel.ProductId != 0)
                    {
                        <MudItem xs="12" sm="12" md="6">
                            <MudGrid>
                                <MudItem xs="12" sm="3">
                                    <MudImage Src="@ProductModel.Image1" Style="border:groove; backdrop-filter:grayscale(); width:100px; height:100px"></MudImage>
                                    <MudImage Src="@ProductModel.Image2" Style="border:groove; backdrop-filter:grayscale(); width:100px; height:100px"></MudImage>
                                    <MudImage Src="@ProductModel.Image3" Style="border:groove; backdrop-filter:grayscale(); width:100px; height:100px"></MudImage>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                    }
            
                </MudGrid>
            </MudPaper>
        </MudItem>
         <MudItem xs="12" sm="12">
        <MudPaper Elevation="2" Class="pa-16" Square="true">
                <MudItem xs="12" sm="6">
                        <MudButton Variant="Variant.Filled" OnClick="HandleValidSubmit" Color="Color.Primary">Save</MudButton>
                    </MudItem>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

