@page "/ItemDetail/{Id}"


<hr style="width:0%;text-align:left;margin-left:0"> 
<MudContainer Class="mt-16 mb-3" MaxWidth="MaxWidth.Medium">
@if(loading)
{

   
   <SkeletonCard/>
}
else
{
    @if (!IsRunning)
    {
        <MudAlert Severity="Severity.Warning" Variant="Variant.Filled">@message</MudAlert>
    }
        <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Gold Detail</MudText>
        <MudGrid Spacing="6" Class="mt-16" >
            <MudItem xs="7">
                
                <MudText  Typo="Typo.h5">
                    @product.ProductName.ToString() @product.Purify.ToString() <br/> 
                    
                    Cond : @Conds | Weight : @product.Weight.ToString()g | Seller : @From
                </MudText>
                <MudText Typo="Typo.subtitle2">#SKU : @product.ProductSKU.ToString()</MudText>
            
            <MudGrid>
                <MudItem xs="12">
                            <img src="@ImageHead" alt="..."style="height:500px; width:500px;">
                 </MudItem>
                 <MudItem xs="12" sm="12" Style="height:inherit; width:inherit">
                     
                                @if (product.Image1 != null)
                                {
                                
                                        <MudButton Class="justify-start d-inline-flex md-2" OnClick="@(() => ImageHead = product.Image1)"> 
                                            <img class="d-inline-flex" src="@product.Image1" alt="..."style="height:150px; width:150px;">
                                        </MudButton>
                                }
                                @if(product.Image2 != null)
                                {
                                        <MudButton Class="d-inline-flex md-2" OnClick="@(() => ImageHead = product.Image2)">
                                            <img class="d-inline-flex" src="@product.Image2" alt="..."style="height:150px; width:150px;">
                                        </MudButton>
                                }
                                @if(product.Image3 != null)
                                {
                                        <MudButton Class="d-inline-flex md-2" OnClick="@(() => ImageHead = product.Image3)">
                                            <img class="d-inline-flex" src="@product.Image3" alt="..."style="height:150px; width:150px;">
                                        </MudButton>
                                }
                    
                </MudItem>
            </MudGrid>
                </MudItem>
                <MudItem xs="8" sm="4" Class="m-3">
                    <MudText>Price From </MudText><MudText Typo="Typo.h4">MYR @product.Price.ToString() </MudText>
                    <MudLink Href=@($"product/{@product.ProductId}") Class="link link-danger">Edit (Admin)</MudLink>
                    <MudPaper Class="d-flex flex-column md-2" Style="height:100%; width:max-content;" Elevation="0" >
                                <MudText Class="ml-auto" Typo="Typo.body1"></MudText>
                                <MudDivider/>
                                <MudText Typo="Typo.subtitle1" Color="Color.Inherit"></MudText>
                                <MudRating SelectedValue="4" Class="d-sm-inline-flex" />
                                <MudPaper Class="pa-16 ma-2" Outlined="true" Width="400" >
                                    <MudText>Conditions :</MudText>
                                        <input type="radio" class="btn-check" name="Condition" id="btn-A+" autocomplete="off" value="A+" @onclick="@(() => Conds = "A+")" @onchange="SelectionChanged" >
                                            <label class="btn btn-outline-secondary" for="btn-A+">A+</label>
                                        <input type="radio" class="btn-check" name="Condition" id="btn-A" autocomplete="off" value="A" @onclick="@(() => Conds = "A")" @onchange="SelectionChanged">
                                            <label class="btn btn-outline-secondary" for="btn-A">A</label>
                                        <input type="radio" class="btn-check" name="Condition" id="btn-B+" autocomplete="off" value="B+" @onclick="@(() => Conds = "B+")" @onchange="SelectionChanged">
                                            <label class="btn btn-outline-secondary" for="btn-B+">B+</label>
                                        <input type="radio" class="btn-check" name="Condition" id="btn-B" autocomplete="off" value="B" @onclick="@(() => Conds = "B")" @onchange="SelectionChanged">
                                            <label class="btn btn-outline-secondary" for="btn-B">B</label>
                                        <input type="radio" class="btn-check" name="Condition" id="btn-C" autocomplete="off" value="C" @onclick="@(() => Conds = "C")" @onchange="SelectionChanged">
                                            <label class="btn btn-outline-secondary" for="btn-C">C</label>
                                    <hr style="width:0%;text-align:left;margin-left:0">
                                    @*<MudText>Weight :</MudText>
                                        <input type="radio" class="btn-check" name="Weight" id="btn-1g" autocomplete="off" value="1g" @onclick="@(() => Weight = 1)" >
                                            <label class="btn btn-outline-secondary" for="btn-A+">1g</label>
                                        <input type="radio" class="btn-check" name="Weight" id="btn-5g" autocomplete="off" value="5g" @onclick="@(() => Weight = 5)">
                                            <label class="btn btn-outline-secondary" for="btn-5g">5g</label>
                                        <input type="radio" class="btn-check" name="Weight" id="btn-10g" autocomplete="off" value="10g" @onclick="@(() => Weight = 10)">
                                            <label class="btn btn-outline-secondary" for="btn-10g">10g</label>
                                        <input type="radio" class="btn-check" name="Weight" id="btn-50g" autocomplete="off" value="50g" @onclick="@(() => Weight = 50)">
                                            <label class="btn btn-outline-secondary" for="btn-50g">50g</label>
                                        <input type="radio" class="btn-check" name="Weight" id="btn-100g" autocomplete="off" value="100g" @onclick="@(() => Weight = 100)">
                                            <label class="btn btn-outline-secondary" for="btn-100g">100g</label>
                                    <hr style="width:0%;text-align:left;margin-left:0">*@
                                    <MudText>Seller :</MudText>
                                        <input type="radio" class="btn-check" name="seller" id="btn-Nubex" checked="checked" autocomplete="off" value="1g" @onclick="@(() => From = "Nubex")" >
                                            <label class="btn btn-outline-secondary" for="btn-Nubex">Nubex</label>
                                        <input type="radio" class="btn-check" name="seller" id="btn-PohKong" autocomplete="off" value="5g" @onclick="@(() => From = "PohKong")">
                                            <label class="btn btn-outline-secondary" for="btn-PohKong">Poh Kong</label>
                                        <input type="radio" class="btn-check" name="seller" id="Habib" autocomplete="off" value="10g" @onclick="@(() => From = "Habib")">
                                            <label class="btn btn-outline-secondary" for="btn-Habib">Habib</label>
                                    <hr style="width:0%;text-align:left;margin-left:0">
                                    <MudText>Quantity :</MudText> 
                                    @if(!string.IsNullOrEmpty(Conds))
                                    {
                                        <MudNumericField @bind-Value="Qty" Label="Enter Qty" Variant="Variant.Outlined"  />
                                        <MudText Class="d-inline-block">205 In Stock</MudText>
                                        <hr style="width:0%;text-align:left;margin-left:0">
                                        <MudChip Icon="@Icons.Material.Outlined.ShoppingCart" Color="Color.Dark" OnClick="@(() => AddToCart(product.ProductId))" >Add To Cart</MudChip>
                                        <MudChip Icon= Color="Color.Dark" >Buy Now</MudChip>
                                    }
                                    else
                                    {
                                        <MudNumericField @bind-Value="Qty" Label="Enter Qty" Variant="Variant.Outlined" Disabled />
                                        <MudText Class="d-inline-block" Color="Color.Warning">.. In Stock</MudText>
                                        <hr style="width:0%;text-align:left;margin-left:0">
                                        <MudChip Icon="@Icons.Material.Outlined.ShoppingCart"  Color="Color.Dark" Disabled>Add To Cart</MudChip>
                                        <MudChip Icon= Color="Color.Dark" Disabled>Buy Now</MudChip>
                                    
                                    }
                                </MudPaper>
                    </MudPaper>
                </MudItem>
            
            <hr style="width:0%;text-align:left;margin-left:0">
            <hr style="width:0%;text-align:left;margin-left:0">
            <MudExpansionPanels MultiExpansion="true" Style="width:100%" Class="mb-4 mt-4">
                <MudExpansionPanel Text="Details">
                    <MudText GutterBottom="true">
                        @product.Description
                    </MudText>
                </MudExpansionPanel>
                <MudExpansionPanel Text="Product Review">
                    Review Place Here
                </MudExpansionPanel>
                <MudExpansionPanel Text="Seller Info">
                    <MudList>
                        <MudListItem>Seller 1</MudListItem>
                        <MudListItem>Seller 2</MudListItem>
                        <MudListItem>Seller 3</MudListItem>
                    </MudList>
                </MudExpansionPanel>
            </MudExpansionPanels>
       </MudGrid>
}
    </MudContainer>
